html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Source of the code:https://github.com/processing/p5.js/wiki/Positioning-your-canvas */
